{%extends 'base.html'%}

{%block title%}

{%endblock title%}

{%block content%}
<h1>County Name</h1>
<div class="container">
    <div class="">
        <p>Temperature</p>
        <button>25</button>
        
    </div>
    <div class="">
        <p>Atmospheric Pressure</p>
        <button>25</button>
        
    </div>
    <div class="">
        <p>Humidity</p>
        <button>25</button>
        
    </div>
    <div class="">
        <p>Wind Speed</p>
        <button>25</button>
        
    </div>
    <div class="">
        <p>Wind Direction</p>
        <button>25</button>
       
    </div>
    <div class="">
        <p>Rainfall</p>
        <button>25</button>
        
    </div>
    <div class="">
        <img src="{{url_for('static', filename='img/precipitation.PNG')}}" alt="">
    </div>
    <div class="">
        <img src="{{url_for('static', filename='img/precipitation.PNG')}}" alt="">
    </div>
    <div class="">
        <img src="{{url_for('static', filename='img/precipitation.PNG')}}" alt="">
    </div>
    <div class="">
        <img src="{{url_for('static', filename='img/precipitation.PNG')}}" alt="">
    </div>
    <div class="">
        <img src="{{url_for('static', filename='img/precipitation.PNG')}}" alt="">
    </div>
    <div class="">
        <img src="{{url_for('static', filename='img/precipitation.PNG')}}" alt="">
    </div>


</div>

{%endblock%}